* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;

}


.header {
    background-color: #00a68e;
    color: white;
    display: flex;
    height: 150px;
    font-size: 40px;
    font-weight: bold;
    align-items: center;
    justify-content: center;

}

.body {
    background-color: #f1f1f1;
}

.sections-app {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    padding-top: 30px;
}

.section-left {
display: flex;
flex-direction: column;
}